.scroll-pane {
    -fx-background-insets: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.button {

    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: #ffffff;

}

.underline {

    -fx-underline: true;

}